@import "../vars.less";
@import "../mixins.less";

header {
    @media @small {
        background: fade(#ffffff,80%);
        .box-shadow(0px 0px 8px 0px rgba(40, 40, 40, 0.65));
        display: block;
        width: 100%;
        padding: @mobile-padding;
        position: relative;
        z-index: 20;
        
        h1 {
            margin: 0;
            padding: 0;
            
            &#logo {
                background: url(../img/logo-npp.svg) 50% 50% no-repeat;  
                .hide-text;
                font-size: 0;
                line-height: 0;
                background-size: contain;
                width: 130px;
                padding-top: 55px;
            }
        }
        
        .nav-trigger {
            background: url(../img/svgs/mobile-toggle-open.svg) 100% 20px no-repeat;
            background-size: contain;
            display: block;
            height: 55px;
            width: 30px;
            position: absolute;
            right: 20px;
            top: 20px;
            .hide-text;
        }
        
        nav#nav-container {
            position: fixed;
            top: 0;
            /*right: 0;*/
            right: -40%;
            bottom: 0;
            width: 40%;
            background: @primary-grey;
            .transform(translateX(0));
            
            ul {
                margin: 0;
                padding: 0px;
                list-style: none;
                border-bottom: 1px solid fade(#fff,10%);
                
                &#primary-nav {
                    border-bottom: 0; 
                    margin: 10px 0;
                }
                
                &#secondary-nav {
                    padding: 0 0 10px;
                }
                
                &#ancilary-nav {
                    border-bottom: 0;
                    padding: 10px 0 0;
                    font-size: .95em;
                    
                    li a {
                        color: fade(#fff,80%);   
                    }
                }
                
                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    
                    a {
                        display: block;
                        margin: 0;
                        padding: 8px 20px;
                        color: #fff;
                        .transition(0.3s);
                        
                        &:hover {
                            background: darken(@primary-grey,5%);   
                        }
                    }
                }
            }
        }
    }

    @media @medium {
        h1 {
            &#logo {
                width: 160px;
                padding-top: 70px;
            }
        }
    }

    @media @large {

    }

    @media @extra-large {

    }
}